.Button {
  cursor: pointer;
}

.Button.Login {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Button.Next,
.Button.Result {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.Button.Logout {
  position: absolute;
  top: 20px;
  right: 20px;
}
.Button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
  color: #999;
  border: none;
}

.Primary {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #800000;
  border-radius: 10px;
  background-color: #fff;
}

.Secondary {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid #8be133;
  border-radius: 6px;
  background-color: #fff;
}

.Secondary:hover:enabled,
.Primary:hover:enabled {
  border: 1px solid transparent;
  font-weight: bold;
}
.Primary:hover:enabled {
  background-color: #800000;
  color: #fff;
}
.Secondary:hover:enabled {
  background-color: #8be133;
  color: #fff;
}
