.Button {
  cursor: pointer;
}

.Button.Login {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
}

.Primary {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #800000;
  border-radius: 10px;
  background-color: #fff;
}

.Primary:hover:enabled {
  border: 1px solid transparent;
  background-color: #800000;
  color: #fff;
}
